<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.WebTable_cities_GetNames.DyanamicWebTable"/>
      <class name="com.WebTable_cities_GetNames.BaseTest"/>
      <class name="testNG_Examples.rediff_FullName_test"/>
      <class name="selenium_Test.Infinty"/>
      <class name="testNG_Examples.Annotation3"/>
      <class name="com.WebTable_cities_GetNames.WebTable_CapturingDynamicTableData"/>
      <class name="testNG_Examples.Annotation2"/>
      <class name="testNG_Examples.Annotation4"/>
      <class name="com.TSRTC.HandlingAlert"/>
      <class name="com.WebTable_cities_GetNames.WebTable_GetCityNmae"/>
      <class name="testNG_Examples.Annotation1"/>
      <class name="com.RadioButtons.RadioButtonsTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
